html{
    background-color: 	rgb(231, 231, 231);
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 580px;
    width: 80%;
    height: auto;
}

.row {
    display: flex;
    width: 100%;
}

.cell {
    background-color: white;
    flex-grow: 1;
    aspect-ratio: 1;
    border: White;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons {
    display: flex;
}

#header {
    font-size: 45px;
    font-style: italic;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}